.ReactTags__selected .ReactTags__remove {
  border: none;
}

.ReactTags__suggestions ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.ReactTags__tagInputField {
  width: 100%;
  border: none;
}

.ReactTags__tagInputField:focus {
  // width: 100%;
  outline: none;
}
